/src/Debug
/src/Release
/src/x64
/src/.vs/kmer_db/v14/*.suo
/src/kmer_db.VC.VC.opendb
/src/kmer_db.VC.db
*.txt
*.db
*.stat
*.ipch
*.vspx
*.psess
*.opendb
*.sqlite
*.json
*.suo
*.o
/src/kmer_db.vcxproj.user
/src/.vs
/kmer-db
