name: Self-hosted CI

on:
  pull_request:
    branches: [ master, develop ]
    paths-ignore:
      - '**.md'
  workflow_dispatch:

jobs:

 ########################################################################################
  checkout:
    name: Checkout
    strategy:
      matrix:
        machine: [x64_linux, x64_mac, arm64_linux, arm64_mac]
    runs-on: [self-hosted, kmer-db, '${{ matrix.machine }}']
    
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    
    
########################################################################################
  make:
    name: Make
    needs: checkout
    strategy:
      fail-fast: false
      matrix:
        machine: [x64_linux, x64_mac, arm64_linux, arm64_mac]
        compiler: [g++-11, g++-12, g++-13]
        include:
        - {machine: x64_linux, platform: avx2}
        - {machine: arm64_linux, platform: arm8}
        - {machine: x64_mac, platform: avx2}
        - {machine: arm64_mac, platform: m1}
        exclude:
        - {machine: arm64_linux, compiler: g++-13}
        force_zlib: [true, false]
   
    runs-on: [self-hosted, kmer-db, '${{ matrix.machine }}']  
        
    steps:
    - name: make (${{matrix.compiler}}, FORCE_ZLIB=${{matrix.force_zlib}}, PLATFORM=${{ matrix.platform}})
      run: | 
        make -j32 CXX=${{matrix.compiler}} FORCE_ZLIB=${{matrix.force_zlib}} PLATFORM=${{ matrix.platform }}
        cp ./kmer-db ./kmer-db-${{matrix.compiler}}-${{matrix.force_zlib}}
        make clean
        
########################################################################################
  help:
    name: Print usage
    needs: make
    strategy:
      fail-fast: false
      matrix:
        machine: [x64_linux, x64_mac, arm64_linux, arm64_mac]
        compiler: [g++-11, g++-12, g++-13]
        force_zlib: [false, true]
        mode: [unknown_mode]
        exclude:
        - {machine: arm64_linux, compiler: g++-13}
        include:
        - {machine: x64_linux, compiler: g++-13, force_zlib: false, mode: all2all}
        - {machine: x64_linux, compiler: g++-13, force_zlib: false, mode: all2all-parts} 
        - {machine: x64_linux, compiler: g++-13, force_zlib: false, mode: all2all-sp} 
        - {machine: x64_linux, compiler: g++-13, force_zlib: false, mode: new2all} 
        - {machine: x64_linux, compiler: g++-13, force_zlib: false, mode: one2all} 
        - {machine: x64_linux, compiler: g++-13, force_zlib: false, mode: distance} 
        - {machine: x64_linux, compiler: g++-13, force_zlib: false, mode: minhash} 

    runs-on: [self-hosted, kmer-db, '${{ matrix.machine }}']
    
    env: 
      EXEC: ./kmer-db-${{matrix.compiler}}-${{matrix.force_zlib}}
        
    steps:
    - name: help (${{matrix.compiler}}, ${{matrix.mode}})
      run: | 
       ${EXEC} ${{matrix.mode}} -help


 ########################################################################################
  synth:
    name: Synthetic data
    needs: help
    strategy:
      fail-fast: false
      matrix:
        machine: [x64_linux, x64_mac, arm64_linux, arm64_mac]
        compiler: [g++-11, g++-12, g++-13]
        exclude:
        - {machine: arm64_linux, compiler: g++-13}
        force_zlib: [false]
    runs-on: [self-hosted, kmer-db, '${{ matrix.machine }}']

    env: 
      INPUT_DIR: ./test/synth
      EXEC: ./kmer-db-${{matrix.compiler}}-${{matrix.force_zlib}}
        
    steps:
          
    - name: build 
      run: |
        ${EXEC} build -multisample-fasta -k 21 ${INPUT_DIR}/synth.list synth.db
    
    - name: all2all (dense)
      run: |     
        ${EXEC} all2all synth.db a2a
        cmp ${INPUT_DIR}/a2a a2a
        
    - name: all2all (sparse)
      run: |
        ${EXEC} all2all -sparse synth.db a2a-sparse
        cmp ${INPUT_DIR}/a2a-sparse a2a-sparse
  
    - name: all2all (sparse + above + below)
      run: |
        ${EXEC} all2all -sparse -below 40 -above 30 synth.db a2a.sparse.above-below
        cmp ${INPUT_DIR}/a2a.sparse.above-below a2a.sparse.above-below

    - name: all2all (sparse + above_eq + below_eq)
      run: |
        ${EXEC} all2all -sparse -below_eq 39 -above_eq 31 synth.db a2a.sparse.above_eq-below_eq
        cmp ${INPUT_DIR}/a2a.sparse.above-below a2a.sparse.above_eq-below_eq 
        
    - name: all2all-sp
      run: | 
        ${EXEC} all2all-sp synth.db a2a-sp
        cmp ${INPUT_DIR}/a2a-sparse a2a-sp

    - name: all2all-sp (sparse + above + below)
      run: | 
        ${EXEC} all2all-sp -below 40 -above 30 synth.db a2a-sp.above-below
        cmp ${INPUT_DIR}/a2a.sparse.above-below a2a-sp.above-below    

    - name: all2all-sp (sparse + above_eq + below_eq)
      run: | 
        ${EXEC} all2all-sp -below_eq 39 -above_eq 31 synth.db a2a-sp.above_eq-below_eq
        cmp ${INPUT_DIR}/a2a.sparse.above-below a2a-sp.above_eq-below_eq   
    
    - name: all2all distances (dense -> dense)
      run: |
        ${EXEC} distance mash ani a2a
        cmp ${INPUT_DIR}/a2a.ani a2a.ani
        cmp ${INPUT_DIR}/a2a.mash a2a.mash
        
    - name: all2all distances (dense -> sparse)
      run: |
        ${EXEC} -sparse distance ani a2a
        ${EXEC} -sparse -below 1.0 -above -1.0 distance mash a2a
        cmp ${INPUT_DIR}/a2a-sparse.ani a2a.ani
        cmp ${INPUT_DIR}/a2a-sparse.mash a2a.mash
        
    - name: all2all distances (sparse -> sparse)
      run: |
        ${EXEC} distance mash ani a2a-sparse
        cmp ${INPUT_DIR}/a2a-sparse.ani a2a-sparse.ani
        cmp ${INPUT_DIR}/a2a-sparse.mash a2a-sparse.mash
        
    - name: all2all distances (sparse -> sparse + above + below)
      run: |
        ${EXEC} -sparse distance mash -above 0.03 -below 1.0 a2a-sparse
        cmp ${INPUT_DIR}/a2a.mash.above-below a2a-sparse.mash
        
       
    - name: new2all (dense)
      run: |
        ${EXEC} new2all -multisample-fasta synth.db ${INPUT_DIR}/synth.list n2a
        cmp ${INPUT_DIR}/n2a n2a

    - name: new2all sparse)
      run: |
        ${EXEC} new2all -multisample-fasta -sparse synth.db ${INPUT_DIR}/synth.list n2a-sparse 
        cmp ${INPUT_DIR}/n2a-sparse n2a-sparse        

    - name: new2all (sparse + above + below)
      run: |
        ${EXEC} new2all -multisample-fasta -sparse -below 70 -above 20 synth.db ${INPUT_DIR}/synth.list n2a.sparse.above-below
        cmp ${INPUT_DIR}/n2a.sparse.above-below n2a.sparse.above-below
            
    - name: new2all distances (dense -> dense)
      run: |
        ${EXEC} distance mash ani n2a
        cmp ${INPUT_DIR}/n2a.ani n2a.ani
        cmp ${INPUT_DIR}/n2a.mash n2a.mash
        
    - name: new2all distances (dense -> sparse)
      run: |
        ${EXEC} -sparse distance ani n2a
        ${EXEC} -sparse -below 1.0 -above -1.0 distance mash n2a
        cmp ${INPUT_DIR}/n2a-sparse.ani n2a.ani
        cmp ${INPUT_DIR}/n2a-sparse.mash n2a.mash
        
    - name: new2all distances (sparse -> sparse)
      run: |
        ${EXEC} distance mash ani n2a-sparse
        cmp ${INPUT_DIR}/n2a-sparse.ani n2a-sparse.ani
        cmp ${INPUT_DIR}/n2a-sparse.mash n2a-sparse.mash
    
      
    
  ########################################################################################
  main:
    name: Virus data
    needs: synth
    strategy:
      fail-fast: false
      matrix:
        machine: [x64_linux, x64_mac, arm64_linux, arm64_mac]
        compiler: [g++-11, g++-12, g++-13]
        exclude:
        - {machine: arm64_linux, compiler: g++-13}
        force_zlib: [false]
        threads: [1, 2, 16]

    runs-on: [self-hosted, kmer-db, '${{ matrix.machine }}']
    
    env: 
      INPUT_DIR: ./test/virus
      EXEC: ./kmer-db-${{matrix.compiler}}-${{matrix.force_zlib}}
 
    steps:
    
    - name: build 
      run: |
        ${EXEC} build -t ${{matrix.threads}} ${INPUT_DIR}/seqs.part1.list k18.parts.db
   
    - name: new2all 
      run: |
        ${EXEC} new2all -t ${{matrix.threads}} k18.parts.db ${INPUT_DIR}/seqs.part2.list k18.n2a.csv
        cmp k18.n2a.csv ${INPUT_DIR}/k18.n2a.csv
        
    - name: new2all (sparse)
      run: |
        ${EXEC} new2all -t ${{matrix.threads}} -sparse k18.parts.db ${INPUT_DIR}/seqs.part2.list k18.n2a.sparse.csv
        cmp k18.n2a.sparse.csv ${INPUT_DIR}/k18.n2a.sparse.csv
    
    - name: extend  
      run: |     
        ${EXEC} build -t ${{matrix.threads}} -extend -k 25 ${INPUT_DIR}/seqs.part2.list k18.parts.db
        
    - name: all2all  
      run: |     
        ${EXEC} all2all -t ${{matrix.threads}} k18.parts.db k18.csv
        cmp k18.csv ${INPUT_DIR}/k18.csv
        
    - name: all2all (sparse)
      run: |     
        ${EXEC} all2all -t ${{matrix.threads}} -sparse k18.parts.db k18.sparse.csv
        cmp k18.sparse.csv ${INPUT_DIR}/k18.sparse.csv
        
    - name: distance
      run: | 
        ${EXEC} distance jaccard min max cosine mash k18.csv
        cmp k18.csv.jaccard ${INPUT_DIR}/k18.csv.jaccard
        cmp k18.csv.min ${INPUT_DIR}/k18.csv.min
        cmp k18.csv.max ${INPUT_DIR}/k18.csv.max
        cmp k18.csv.cosine ${INPUT_DIR}/k18.csv.cosine
        cmp k18.csv.mash ${INPUT_DIR}/k18.csv.mash
        
    - name: build (default k) + all2all 
      run: |
        ${EXEC} build -t ${{matrix.threads}} ${INPUT_DIR}/seqs.list k18.db
        ${EXEC} all2all -t ${{matrix.threads}} k18.db k18.csv
        cmp k18.csv ${INPUT_DIR}/k18.csv
        
    - name: build (default k, multifasta) + all2all 
      run: |
        ${EXEC} build -t ${{matrix.threads}} -multisample-fasta ${INPUT_DIR}/multi.list k18.multi.db
        ${EXEC} all2all -t ${{matrix.threads}} k18.multi.db k18.multi.csv
        cmp k18.multi.csv ${INPUT_DIR}/k18.csv

    - name: build (default k, 2 x multifasta) + all2all 
      run: |
        ${EXEC} build -t ${{matrix.threads}} -multisample-fasta ${INPUT_DIR}/multi.split.list k18.multi.split.db
        ${EXEC} all2all -t ${{matrix.threads}} k18.multi.split.db k18.multi.split.csv
        cmp k18.multi.split.csv ${INPUT_DIR}/k18.csv
    
    - name: build (default k) + extend + all2all 
      run: |
        ${EXEC} build -t ${{matrix.threads}} ${INPUT_DIR}/seqs.part1.list k18.parts.db
        ${EXEC} build -t ${{matrix.threads}} -extend -k 25 ${INPUT_DIR}/seqs.part2.list k18.parts.db
        ${EXEC} all2all -t ${{matrix.threads}} k18.parts.db k18.parts.csv
        cmp k18.parts.csv ${INPUT_DIR}/k18.csv
        
    - name: build (default k, fraction 0.1) + all2all 
      run: |    
        ${EXEC} build -t ${{matrix.threads}} -f 0.1 ${INPUT_DIR}/seqs.list k18.frac.db
        ${EXEC} all2all -t ${{matrix.threads}} k18.frac.db k18.frac.csv
        cmp k18.frac.csv ${INPUT_DIR}/k18.frac.csv

    - name: minhash (default k, fraction 0.1) + build + all2all 
      run: |
        ${EXEC} minhash -f 0.1 ${INPUT_DIR}/seqs.list
        ${EXEC} build -t ${{matrix.threads}} -from-minhash -k 25 ${INPUT_DIR}/seqs.list k18.minhash.db
        ${EXEC} all2all -t ${{matrix.threads}} k18.minhash.db k18.minhash.csv
        cmp k18.minhash.csv ${INPUT_DIR}/k18.frac.csv
        
    - name: build (k=24) + all2all 
      run: |
        ${EXEC} build -t ${{matrix.threads}} -k 24 ${INPUT_DIR}/seqs.list k24.db
        ${EXEC} all2all -t ${{matrix.threads}} k24.db k24.csv
        cmp k24.csv ${INPUT_DIR}/k24.csv
        
    - name: build (k=25, f=0.1) + one2all 
      run: |
        ${EXEC} build -t ${{matrix.threads}} -k 25 -f 0.1 ${INPUT_DIR}/seqs.part1.list k25.db
        ${EXEC} one2all -t ${{matrix.threads}} k25.db ${INPUT_DIR}/data/MT159713 MT159713.csv
        cmp MT159713.csv ${INPUT_DIR}/MT159713.csv    
        
    - name: new2all (against itself)
      run: |
        ${EXEC} new2all -t ${{matrix.threads}} k18.db ${INPUT_DIR}/seqs.list k18.n2a.itself.csv
        cmp k18.n2a.itself.csv ${INPUT_DIR}/k18.n2a.itself.csv
        
    - name: all2all (parts)
      run: |
        ${EXEC} build -t ${{matrix.threads}} ${INPUT_DIR}/seqs.part1.list k18.parts1.db
        ${EXEC} build -t ${{matrix.threads}} ${INPUT_DIR}/seqs.part2.list k18.parts2.db
        echo 'k18.parts1.db' > db.list
        echo 'k18.parts2.db' >> db.list
        ${EXEC} all2all-parts -t ${{matrix.threads}} db.list k18.parts.csv
        cmp k18.parts.csv ${INPUT_DIR}/k18.sparse.csv


   
 
